<nav>
  <%= link_to "TravelWise", root_path %>
  <% if user_signed_in? %>
    <li><%= link_to "Signed in as #{current_user.email}", dashboard_path %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
  <% end %>
</nav>
